on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Lost Pixel

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Start server (in background)
        run: npm run prod &
        env:
          NEXTAUTH_SECRET: "BLAHHHHH"
          NEXTAUTH_URL: "http://172.17.0.1:3471"

      - name: Lost Pixel
        uses: lost-pixel/lost-pixel@v3.16.0
        env:
          LOST_PIXEL_API_KEY: ${{ secrets.LOST_PIXEL_API_KEY }}
